<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>34716636540-hndli054b3hrt4p5juaftvfejthm0u4j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.34716636540-hndli054b3hrt4p5juaftvfejthm0u4j</string>
	<key>API_KEY</key>
	<string>AIzaSyDXq3COPhcfE_VIsm1vdpDfOmx-WqJXOlY</string>
	<key>GCM_SENDER_ID</key>
	<string>34716636540</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jackpan.TaiwanpetadoptionApp-ios</string>
	<key>PROJECT_ID</key>
	<string>taiwanpetadoptionapp-ios</string>
	<key>STORAGE_BUCKET</key>
	<string>taiwanpetadoptionapp-ios.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:34716636540:ios:de9ebd1f46510ed0d4c0f9</string>
</dict>
</plist>